.header {
    width: 100%;
    padding: 0;
    background: url('./../../assets/header/bg.jpg') center center no-repeat;
    background-color: #e5e5e5;
    background-size: cover;
    
    &__overlay {
        background: rgba(0, 0, 0, 0.2);
    }

    &__details {
        padding-top: 350px;
    padding-bottom: 200px;
    text-align: center;
    }

    &__text {
        color: #fff;
        font-size: 22px;
        font-weight: 300;
        line-height: 30px;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    &__title {
        color: #fff;
        font-size: 82px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10px;
    }

    &__button {
        text-transform: uppercase;
        color: #fff;
        background-color: #5ca9fb;
        background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
        padding: 14px 34px;
        letter-spacing: 1px;
        margin: 0;
        font-size: 15px;
        font-weight: 500;
        border-radius: 25px;
        transition: all 0.5s linear;
        border: 0;
        margin: 0 auto;
        width: 200px;
    }
}