<%- include('layout/head') -%>
    <h2>random listas PAGE</h2>

    <ul>
        <li>a</li>
        <li>b</li>
        <li>c</li>
        <li>d</li>
        <li>e</li>
    </ul>

<%- include('layout/footer') -%>
