<%- include('layout/head') -%>
    <h2>signup PAGE</h2>

    <form>
        <label for="email"> email:</label>
        <input type="email" name="email" required/>
        <div class="email error"></div>
        <label for="password"> password:</label>
        <input type="password" name="password" required/>
        <div class="password error"></div>
        <button>sign up</button>
    </form>

    <script>
        const formHtml = document.querySelector('form');

        formHtml.addEventListener('submit', (e)=> {
            e.preventDefault();
            const email = form.email.value;
            const password = form.email.value;
        })
    </script>

<%- include('layout/footer') -%>
