.flex-container {
    display: flex;
}

#page-container {
    max-width: 1100px;
    margin: 0 auto;
}

header {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fee3c3;
}

header h1 {
    padding: 15px;
}

header nav ul li {
    list-style: none;
    margin-left: 10px;
    padding: 5px;
}

header nav ul li a {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.banner-col-1 {
    background-color: #892be1;
    color: #ffffff;
    text-align: center;
    justify-content: center;
}

.banner-col-1 p {
    padding: 15px;
}

.banner-col-2 {
    background-color: #7d04d9;
    color: #fff;
    justify-content: space-evenly;
}

.banner-col-2 p {
    padding: 0 20px;
}

footer,
.banner-col-2 {
    align-items: center;
}

footer {
    justify-content: space-between;
    background-color: #deb887;
    padding: 20px 0;
}

footer p {
    padding: 15px;
}

main {
    background-color: #f8f8f8;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 25%;
    background-color: #fff;
    margin: 10px;
    padding: 30px 20px;
    border: 1px solid #cecece;
}