.about {
    margin-top: 50px;

    &__title {
        text-transform: uppercase;
        margin: 0 0 20px;
        font-weight: 800;
        font-size: 36px;
        color: #333;
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 15px;
    }

    &__title::after {
        position: absolute;
        content: "";
        background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
        height: 4px;
        width: 60px;
        bottom: 0;
        margin-left: -270px;
        left: 50%;
    }
}