body {
  text-align: center;
}

.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #bbb;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

.row > div.green {
  background-color: green;
  border-color: green;
}

.row > div.grey {
  background-color: grey;
  border-color: grey;
}

.row > div.yellow {
  background-color: yellow;
  border-color: yellow;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    background-color: #fff;
    border-color: #333;
  }
  45% {
    transform: rotateX(90deg);
    background-color: #fff;
    border-color: #333;
  }
  55% {
    transform: rotateX(90deg);
    background-color: var(--background-color);
    border-color:var(--border-color);
    color: #eee;
  }
  100% {
    transform: rotateX(0d);
    background-color: var(--background-color);
    border-color:var(--border-color);
    color: #eee;
  }
}

.row > div.green, .row > div.grey, .row > div.yellow {
  animation: flip 0.5s ease forwards;
}

.row > div.green {
  --background-color: green;
  --border-color: green;
}

.row > div.grey {
  --background-color: grey;
  --border-color: grey;
}

.row > div.yellow {
  --background-color: yellow;
  --border-color: yellow;
}

.row > div:nth-child(2) { animation-delay: 0.2s;}
.row > div:nth-child(3) { animation-delay: 0.4s;}
.row > div:nth-child(4) { animation-delay: 0.6s;}
.row > div:nth-child(5) { animation-delay: 0.8s;}

@keyframes bounce {
  0%{
    transform: scale(1);
    border-color: #ddd;
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
    border-color: #333;
  }
}

.row.current > div.filled {
  animation: bounce 0.2s ease-in-out forwards;
}

.keypad {
  max-width: 500px;
  margin: 20px auto;
}

.keypad > div {
  margin: 5px;
  width: 40px;
  height: 50px;
  text-transform: uppercase;
  background-color: #eee;
  display: inline-block;
  border-radius: 6px;
  line-height: 50px;
}

.keypad > div.green {
  background-color: green;
}

.keypad > div.grey {
  background-color: grey;
}

.keypad > div.yellow {
  background-color: yellow;
}

.keypad > div.green, .keypad > div.grey, .keypad > div.yellow {
  transition: all 0.3s ease-in;
  color: #fff;
}

.won-title {
  color: green;
}

.lost-title {
  color: red;
}