body {
    background-color: rgb(234, 234, 234) !important;
}
.container{
    margin-top: 50px;
    border: black 1px solid;
    border-radius: 15px;
    padding: 60px 0 60px 0;
}

.cards-list {
    gap: 5px;
    justify-content: center;
}


.cards-list .card {
    height: 100%;
}

.card-text .pet-img {
    width: 25vh;
    height: 25vh;
}

#collapseWidthExample div.collapse-bg-color {
    background-color: rgb(234, 234, 234);
    border: none;
}