body {
    margin: 0;
    padding: 0;
}

#basket-container {
    width: 100%;
    height: 100vh;
    background: #E5D4FB
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding-top: 200px;
}

.container h1 {
    color: #252525;
    font-size: 40px;
    font-weight: 700;
    line-height: 32px;
}

.basket-content {
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    padding: 40px;
}

.basket-header p{
    color: #757575;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 0;
    
}


hr.strong-line {
    height: 2px;
    background-color: #D9D9D9;
}

hr.basic-line {
    height: 1px;
    background-color: #D9D9D9;
}

.basket-footer {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-footer .refresh-button {
    background: white;
    border: 2px solid #252525;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    height: 30px;
}

.basket-footer .basket-price {
    display: flex;
    gap: 10px;
}

.basket-footer .basket-price h3 { 
    color: #252525;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

.basket-footer .basket-price h4 {
    color: #252525;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}


.product-list .final-price-section {
    display: flex;
    justify-content: space-evenly;
}

.product-list .delete-item {
    border: unset;
    background: unset;
}

.product-list .delete-item:hover {
    background: lightgrey;
    border-radius: 3px
}


.product-list .add-item {
    border: unset;
    background: unset;
    background-color: #757575;
    border-radius: 0px 3px 3px 0px;
}

.product-list .remove-item {
    border: unset;
    background-color: #757575;
    border-radius: 3px 0 0 3px;
}

.product-list .quantity-section {
    display: flex;
}

.product-list .quantity {
    display: flex;
    background-color: #afa7a7;
    padding-left: 10px;
    padding-right: 10px;
}

.product-list .product-name {
    display: flex;
    justify-content: left;
    align-items: center;
}

.product-list .product-item {
    align-items: center;
}
